h2.contributions-header {
	margin-bottom: 0;
}

svg {
	max-width: 100%;
	width: 100%;
}

svg text {
	font-size: 12px;
}

rect.day {
	position: relative;
}

rect.day:after {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	content: attr(data-date);
	padding: 6px 10px;
	top: 1.4em;
	left: 50%;
	transform: translateX(-50%) translateY(-2px);
	background: grey;
	color: white;
	white-space: nowrap;
	z-index: 2;
	border-radius: 2px;
	transition: opacity 0.2s, transform 0.2s;
}

rect.day:hover:after {
	display: block;
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%) translateY(0);
}